page-list {

    ion-content {
      @include linear-gradient(left,$green-and-blue);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;

    }

    ion-list {
        background: transparent;
    }
//     .vertical-align-content >*
// {
//      display: flex!important;
//     //  align-content: center!important;
//     //  align-items: center!important;
//      justify-content: center!important;
// }


  }

